<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="hosts" allowDefinition="Everywhere" type="A2v10.Tests.Browser.HostsSection, A2v10.Tests.Browser"/>
	</configSections>
	<hosts>
		<host name="localhost">
			<source name="navigation" directory="01 navigation" url="https://localhost:44398" login="admin@admin.com" password="Admin"/>
			<source name="document" directory="02 document" url="https://localhost:44398" login="admin@admin.com" password="Admin"/>
		</host>
	</hosts>
</configuration>